<h1><%= event.escape('title') %></h1>

<a
  class="btn"
  href="#/<%= event.escape('id') %>/edit">edit</a>

<div>
  <h3>Description</h3>
  <p><%= event.escape('description') %></p>
</div>

<div>
  <h3>When</h3>
  <p>Starts at: <%= Date(event.escape('start_time')).toString() %></p>
  <p>Ends at: <%= Date(event.escape('end_time')).toString() %></p>
</div>

<div>
  <h3>Where</h3>
  <p>
    <a href="/venues/#/<%= event.get('venue_id') %>">
      <%= event.get('venue').escape('name') %>
    </a>
    <br />
    <span class="muted">
      <%= event.get('venue').escape('address') %>
    </span>
  </p>
</div>

<div>
  <h3>Tags</h3>
  <ul>
    <% _(event.get('tags')).each(function(tag){ %>
      <li><%= tag['name'] %></li>
    <% }) %>
  </ul>
</div>